body {
  font-family: Arial, sans-serif;
}


:root{
  --white--color:white;
  --background--color:#007bff;
}
.container {
  text-align: center;
  margin-top: 50px;
}

.blink-button {
  padding: 30px 30px;
  border-radius: 50px;
  background-color: var(--background--color);
  color: var(--white--color);
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.output {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

@keyframes blink {
  0%,
  100% {
    background-color: #007bff;
    color: white;
  }
  50% {
    background-color: white;
    color: #007bff;
  }
}
