.nav-container {
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  background-color: #2d7dff70;
  border-radius: 35px;
  padding: 20px;
  box-shadow: 0px 0px 15px 0px #0000005b;
  backdrop-filter: blur(20px);
  text-align: center;
}

.side-nav-container {
  position: fixed;
  top: 260px;
  left: 8%;
  transform: translateX(-50%);
  width: 8%;
  background-color: #c5dafb70;
  border-radius: 50px;
  padding: 30px 1% 20px 0;
  box-shadow: 0px 0px 15px 0px #0000005b;
  backdrop-filter: blur(20px);
  z-index: 1;
}

.nav-buttons {
  display: flex;
  width: 93%;
  justify-content: space-between;
}

.side-nav-buttons {
  display: grid;
  width: 250%;
  text-align: left;
}

.nav-button {
  color: rgba(255, 255, 255, 0.674);
  font-size: 1.2em;
  text-decoration: none;
  transition: transform 0.3s ease;
  padding: 0 8px;
}

.selected {
  color: white;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  padding: 0 8px;
}

.side-nav-button {
  color: rgba(255, 255, 255, 0.674);
  font-size: 1.2em;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.icon {
  width: 20%;
  padding: 0.5em 0;
}

.nav-buttons .nav-button-active {
  color: rgb(255, 255, 255);
  font-size: 1.2em;
  text-decoration: none;
  transition: transform 0.3s ease;
  background-color: #ffffff42;
  padding: 0 1rem;
  border-radius: 20px;
  backdrop-filter: blur(20px);
}

.nav-buttons .nav-button-main {
  color: rgb(255, 255, 255);
  font-size: 1.2em;
  text-decoration: none;
}

.nav-button:hover {
  color: #ffffff;
  transform: scale(1.1);
}

@media screen and (max-width: 1400px) {
  .m- {
    width: 93%;
  }

  .nav-button {
    font-size: 1.1em;
    padding: 0 0.8rem;
  }
}

@media screen and (max-width: 1269px) {
  .nav-buttons {
    width: 93%;
  }

  .nav-button {
    font-size: 1em;
    padding: 0 0.6rem;
  }
}

@media screen and (max-width: 1119px) {
  .nav-container {
    display: none;
  }
}

@media screen and (min-width: 1119px) {
  .side-nav-container {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .side-nav-container {
    width: 10%;
  }

  .side-nav-buttons {
    width: 280%;
  }
}
