body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #116CFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav{
  background-color: #86000000;
}

.m-{
  margin: 1em;
}

.img{
  width: 30em;
}

.form{
  border-radius: 20px;
}

.form h2{
  text-align: center;
  font-family: Jomhuria;
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 2em;
  margin-top: 1.5em;
}

.form p{
  margin-top: 1em;
  font-size: 0.8em;
  text-align: center;
  color: #00000077;
}

.form input{
  border-radius: 20px;
  margin-bottom: 1em;
  background-color: #00000017;
}

.form button{
  border-radius: 20px;
  margin-top: 1em;
  background-color: #116CFF;
}

.form label{
  font-family: Jomhuria;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.submit-btn{
  width: 100%;
  text-align: center;
}

.container{
  margin-top: 5em;
}


/* ---------------------------------------- Dashboard ---------------------------------------- */
.App .container{
  background-color: white;
  border-radius: 20px;
  position: relative;
  box-shadow: 0 0 15px 0px #00000077;
}

/* .App .container h3{
  font-family: Jomhuria;
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 2em;
  margin-top: 1.5em;
} */

.container .card{
  border-radius: 20px;
  margin-bottom: 1em;
  padding: 1em;
  width: auto;
  border: 0px;
  box-shadow: 0px 0px 10px 0px #00000017;
  transition: transform 0.3s ease;
}

.container .card:hover{
  box-shadow: 0px 0px 20px 0px #00000017;
  transform: scale(1.05);
}

.container .card-img{
  /* height: 12em; */
  text-align: center;
}

/* .container .card-img img{
  width: 80%;
} */

.container .card-body{
  border-top: 1px solid #00000023;
}

.container .card-body .btn{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  margin-top: 1em;
  transition: transform 0.3s ease;
}

.container .card-body .btn:hover{
  transform: scale(1.1);
  /* font-size: 1em; */
}

.nav-container {
  position: absolute;
  top: -35px; 
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  background-color: #2d7dff70;
  border-radius: 35px;
  padding: 20px;
  box-shadow: 0px 0px 15px 0px #0000005b;
  backdrop-filter: blur(20px);
}

.nav-buttons {
  display: flex;
  width: 93%;
  justify-content: space-between;
}

.nav-button {
  color: rgba(255, 255, 255, 0.674);
  font-size: 1.2em;
  text-decoration: none;
  transition: transform 0.3s ease;
  padding: 0 1rem;
}

.nav-buttons .nav-button-active{
  color: rgb(255, 255, 255);
  font-size: 1.2em;
  text-decoration: none;
  transition: transform 0.3s ease;
  background-color: #ffffff42;
  padding: 0 1rem;
  border-radius: 20px;
  backdrop-filter: blur(20px);
}

.nav-buttons .nav-button-main{
  color: rgb(255, 255, 255);
  font-size: 1.2em;
  text-decoration: none;

}

.nav-button:hover {
  color: #ffffff;
  transform: scale(1.1);
}


/* styles.css */
.search-bar {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin-right: 1.5em;
}

.search-bar input {
  border: 0px;
  width: 100%;
  background-color: rgba(38, 38, 38, 0.251);
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.212);
  box-shadow: 0px 0px 3px 0px #00000056;
  padding: 0.8rem 1rem;
  border-radius: 30px;
  color: white;
  transition: 0.5s;
}

.search-bar input::placeholder {
  color: rgba(255, 255, 255, 0.7); /* Change this color as needed */
}

.search-bar input:focus {
  background-color: rgba(194, 194, 194, 0.251);
  border: 1px solid rgba(194, 194, 194, 0.251);
  box-shadow: 0px 0px 10px 0px #0000003d;
  color: white;
}

.search-icon {
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.659);
}


/* ---------------------- Not Found ---------------------- */
/* NotFound.css */
.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.not-found-content {
  text-align: center;
  padding: 2rem;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.not-found-content h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #e74c3c;
}

.not-found-content p {
  font-size: 1rem;
  margin-bottom: 2rem;
  color: #333;
}

.not-found-content img {
  max-width: 100%;
  height: auto;
}



/* --------------------- Profile --------------------- */
.profile-img{
  width: 10em;
  height: 10em;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  border: 5px solid #116CFF;
}

.Profile .container{
  background-color: white;
  border-radius: 20px;
  position: relative;
  box-shadow: 0 0 15px 0px #00000077;
  width: 50%;
}
